h1{
    background-color: black;
    color: rgb(235, 173, 173);
    text-align: center;  
    border-style: dashed; 
    font-size: large;
    padding: 20px 0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

ul{
  background-color: palevioletred;
  color: black;
  text-align: center;   
  border-style: dotted;
  font-size: large;
   padding: 20px 0;
  font-size: 30px;
  font-family: sans-serif;
}

    body {
    background-image: url("https://media.istockphoto.com/vectors/unicorn-background-with-rainbow-mesh-holographic-unicorn-background-vector-id947347846?k=6&m=947347846&s=612x612&w=0&h=Sgfqa1M1ugjD44ATLa-3FZaU52Wi7BFDHOI-x1VzJdA=");
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover; 
    text-align: center;
    }
    h2{
      background-color: coral;
      color:black;
      background-position: center;
      font-size: large;
      padding: 20px 0;
     font-size: 30px;
    }


footer{

background-color:purple ;
border-style: groove;
  border-color: coral;
}